@import url('https://fonts.googleapis.com/css?family=Bellefair|Open+Sans:300,700,800');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, sans-serif;
}

.wrap {
  max-width: 960px;
  margin: 0 auto;
  padding: 1em 0;

  min-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading {
  text-align: center;
}

h1 {
  font-family: 'Bellefair', 'Open Sans', 'Helvetica Neue', helvetica, arial,
    sans-serif;
  font-weight: 400;
}

.footer {
  font-size: .8em;

  display: flex;
  justify-content: space-between;
}

.label text {
  font: 14px 'Open Sans', 'Helvetica Neue', helvetica, arial, sans-serif;
  fill: #fff;
  font-weight: 700;
}

.label .funding {
  fill: #ddd;
  font-weight: 300;
}

.overlay rect {
  fill: rgba(255, 255, 255, 0.2);
  visibility: hidden;
  pointer-events: all;
  cursor: pointer;
}

.overlay:hover rect {
  visibility: visible;
}
